---
import SimpleGrid from "./SimpleGrid.astro";
---

<section id="services">
    <h1>Our Services</h1>
    <SimpleGrid />
</section>

<style>
    .content {
        display: flex;
    }
    h1 {
        font-size: 3rem;
        margin: 0 auto 0 3rem;
        border-bottom: 1px solid #263528;
        padding-bottom: 1rem;
        padding-left: 1rem;
        width: 90%;
        margin: 2rem auto 4rem auto;
    }
    p {
        width: 30rem;

    }
</style>